
#image{

    width: 100%;
    height: auto;

}
#h1Div{
    position: relative;
    color: white;
    top: 339px;
    left: 100px;
    font-size: 20px;
    font-family: 'Courier New', monospace;

}

#hpyNewYearTopic{
    text-align: center;
}

#newyearUpdate{

    width: 700px;
    height: 700px;
    border-radius: 10%;
    position: relative;
    left: 50px;
}

#newyearPara{
/*    border: 2px solid red;*/
    background-color: wheat;
    width:500px ;
    height: 500px;
    position: relative;
    display: inline-block;
    bottom: 100px;
    text-align: center;
}

#kandyImage{
    width: 700px;
    height: 700px;
    border-radius: 5%;
    display: inline-block;

}

#kandyPara{

    position: relative;
    background-color: white;
    width:500px ;
    height: 300px;
    left: 650px;
    bottom: 590px;
    display: inline-block;
    font-family: 'Courier New', monospace;
    text-align: center;
}
#vesakTopic{
    font-family: 'Courier New', monospace;
    text-align: center;

}
#secondDiv{

    height: 791px;

}
#peraharatopic{
    text-align: center;
}

#vesakImage{

    width: 100%;
    height: 600px;
}
#inBudda {
    /*border: 2px solid red;*/
    position: relative;
    width: 700px;
    height: 300px;

    top: -553px;
    left: 478px;
    text-align: center;
}

#vesakPara{
    color: white;
    font-family: 'Courier New', monospace;
}


/*==================== Start Nav=============*/


.navbar {
    overflow: hidden;
    background-color: #1e272e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}
#first{
    padding-left: 16px;
    margin-left: 227px;
}



/*==================== End Nav=============*/



/*
====================footer=============*/
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;

}


.row:after {
    content: "";
    display: table;
    clear: both;

}

#footer{
    position: relative;

}
.column{
    background-color:#1e272e;
    color: white;
}


#hOne{
    text-decoration: none;
    color: white;
}
#hTwo{
    text-decoration: none;
    color: white;
}
#hThree{
    text-decoration: none;
    color: white;
}
#backToTop{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;
}


#bckToTopbtn{
    text-align: center;
}

#All{
    text-align: center;
}
/*

==================== End footer=============*/

#vedioUpFotter{
    position: relative;
    left: 261px;
    top: -136px
}
#pageEditor{
    color:white;
}
#pageEditor{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;
}

