*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*--------nav bar----------*/
.navbar {
    overflow: hidden;
    background-color: #1e272e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: #070101;
}

#first{
    padding-left: 16px;
    margin-left: 227px;
}
/*-------------------------*/

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7),rgba(0,0,0,0.75)),url(Student1/presentationpage/wp1857977.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}
.logo-presentation{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.main-title{
    margin: auto;
    padding-top: 120px;
    font-family:sans-serif ;
    font-size: 140px;
    text-align: center;
    font-weight: 200;
    color: white;
    position: center;
}
.group-title{
    position: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 500px;
}
.group-details{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: white;
    position: absolute;
}
.name-details{
    margin-left: 450px;
}
.loadinggif{
    width: 50px;
    margin-left: 630px;
    margin-top: 370px;
}


/*-------footer--------*/

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;

}


.row:after {
    content: "";
    display: table;
    clear: both;

}

#footer{
    position: relative;

}
.column{
    background-color: #070101;
    color: white;
}

.fli:hover{
    color: #ffffff;
    padding-left: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.linkwhite{
    text-decoration: none;
    color: white;
}


#hOne{
    text-decoration: none;
    color: white;
}
#hTwo{
    text-decoration: none;
    color: white;
}
#hThree{
    text-decoration: none;
    color: white;
}

.column-back {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    color: black;
    font-family: 'Courier New', monospace;
}

#backToTop{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;
}

#editor{
    color:white;
}

#pageEditor{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;

}