*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*..................CSS part for the background image..............*/
.backgroundimage {
    background-image: url("students3/images/backgroundQ.jpg"),
    url("students3/images/backgroundQ.jpg");
    background-position: top, bottom;
    background-size: 1700px 1100px, 2000px 1200px;
    background-repeat: no-repeat, no-repeat;
}
/*..................CSS part for the navigation bar.................*/

.navbar {
    overflow: hidden;
    background-color: #1e272e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    float: left;
    align-items: center;
}

.logo{
    width: 150px;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}
/*................CSS part for the quiz questions webpage.......*/

form {
    font-family: 'Quicksand', sans-serif;
    border: 2px solid black;
    text-align: center;
    width: 500px;
    margin-left:500px;

}

h1 {
    text-align: center;
    color: rgb(205,230,236);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size:70px;
    margin-top:100px;
}

.sumbitBtn {

    color: white;
    width:200px;
    height:50px;
    border-radius: 30px;
    font-size: 20px;

    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 30px;

    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.sumbitBtn:hover {
    background: linear-gradient(to bottom, #3acfd5 0%, #0aa35e 100%);
}

#endDisplay {
    display: none;
    backdrop-filter: blur(5px);
    background-color: rgb(20,38,52);
    border: 3px solid black;
    border-radius: 50px;
    width: 800px;
    margin-left:350px;
    margin-top:50px;
    color: white;
    font-size:20px;
    padding: 25px;
    text-align: center;

}

#quizForm{
    background-color:#242526;
    display: none;
    color:white;
}

#quiz{
    padding-top:200px;


}

.btn-hover {

    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 650px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;

    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;

    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    margin-top:50px;
}
/*........................ footer part-------------------------------*/
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    height: 400px;
    background-color: #1e272e;


}
#contact{

}

.row:after {
    content: "";
    display: table;
    clear: both;

}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 40px;
    right: 50px;
    border-radius:25px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 22px;
}



#footer{
    position: relative;
    top:170px;
    background-color: #1e272e;

}
#editor{
    color:white;

}

#image_1{
    margin-left:100px;
    height:40px;
    width:40px;
}

#image_2{
    border-radius:9px;
    height:40px;
    width:40px;
}

#first{
    padding-left: 16px;

}
#allrightreceived{
    text-align:center;
}



.fli:hover{
    color: #ffffff;
    padding-left: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#backToTop{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;
}

#editor{
    color:white;
}

#pageEditor{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;

}


