*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: black;
}
.menu {
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.logo {
    width: 150px;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
}
.menu ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #1ac6ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.menu ul li:hover::after {
    width: 100%;
}
.heading {
    text-align: center;
    color: #fff;
    padding: 2%;
    font-size: 50px;
}



#chaclr {
    width: 100%;
    text-align: center;
    margin: auto;
}

input[type="radio"] {
    margin: 0 10px 0 10px;
}

.chabgclr {
    display: inline-block;
    width: 200px;
}

.chatxtcolor {
    display: inline-block;
    width: 200px;
}

select {
    width: 100%;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.preview {
    position: relative;
    border: 2px solid white;
    display: none;
    color: white;
    margin: auto;
    width: 80%;
    height: 75vh;
}
#preview-img {
    min-width: 45%;
}
.close-preview {
    position: absolute;
    right: 0;
    margin: 2.5em;
    cursor: pointer;
}
.close-preview i {
    font-size: 2em;
}

#description {
    padding: 1em;
    display: flex;
    align-items: center;
}

.gallery {
    width: 100%;
    margin: 20px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img {
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}
.gallery img:hover {
    transform: scale(0.8) rotate(10deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;

}


.row:after {
    content: "";
    display: table;
    clear: both;

}

#footer{
    position: relative;

}
.column{
    background-color:#1e272e;
    color: white;
}


#hOne{
    text-decoration: none;
    color: white;
}
#hTwo{
    text-decoration: none;
    color: white;
}
#hThree{
    text-decoration: none;
    color: white;
}

#pageEditor{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;

}

#backToTop{
    border: 2px solid white;
    text-decoration: none;
    background-color: #1e272e;
    color: white;
    border-radius: 20%;
}
